<div class="contacts-card relative"  data-action="click->contact#renderShow">
  <div class="absolute w-full h-full z-1"  id="<%= contact.id %>"></div>
  <div class="contacts-info flex bg-blue-200 relative">
    <div class="contacts-avatar">
      <img src="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fmedia.discordapp.net%2Fattachments%2F1112292984747204731%2F1117728036645769337%2FDaFoRceZ_logo_for_a_job_application_management_app_fish_trip_bi_f250d0fd-17a2-4115-a1f2-cf0392003020.png%3Fwidth%3D998%26height%3D998" alt="" style="height: 40px; width: 40px;">
    </div>
    <div class="contacts-details bg-orange-200 flex justify-between flex-1">
      <div>
        <h5 class="text-xl"><%= "#{contact.firstname} #{contact.lastname}" %></h5>
        <p><%= contact.company.name %></p>
      </div>
      <div> > </div>
    </div>
  </div>
</div>
