<div class="container">
  <div class="contact-avatar">
    <img src="https://files.slack.com/files-pri/T02NE0241-F05CP8A4C7N/daforcez_italian_pirate_looking_back_developer_mid-journey_medi_db7d8299-4b6b-4540-a088-7f87213259f4.png" alt="" style="height:100px;width:100px;">
    <h3>Joe Webber</h3>
    <p>Backend Lead</p>
    <div class="contact-scocials flex">
      <div class="contact-social"><i class="fa-brands fa-facebook"></i></div>
      <div class="contact-social"><i class="fa-brands fa-instagram"></i></div>
      <div class="contact-social"><i class="fa-brands fa-twitter"></i></div>
    </div>
    <div class="contact-nav flex">
      <div class="contact-nav-item">
        Personal info
      </div>
      <div class="contact-nav-item">
        Experience
      </div>
      <div class="contact-nav-item">
        Top Skills
      </div>
      <div class="contact-nav-item">
        Reviews
      </div>
    </div>
    <div class="contact-about bg-green-100">
      <h3>About me</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias doloremque, similique saepe obcaecati consectetur voluptatibus id necessitatibus quis quibusdam accusantium placeat omnis modi cum magni eveniet aliquam qui. Nisi, totam?</p>
    </div>
    <div class="contact-info bg-yellow-100">
      <h3>Contact here</h3>
      <div class="contact-info-item">
        <i class="fa-solid fa-phone"></i> +81 888 8888
      </div>
      <div class="contact-info-item">
        <i class="fa-solid fa-mail"></i> joeweber@wagon.com
      </div>
      <div class="contact-info-item">
        <i class="fa-solid fa-pin"></i> adress, Meguro, Shinagawa, Tokyo, Japan, xxx - xxxx
      </div>
    </div>
  </div>
</div>
